$px: 8px;
$rem: 1rem;
$em: 1em;
$c-main: #4d353e;
$c-shade: #422a33;
$c-dark: #322027;
$c-accent: #ff5ee3;
$c-link: #02B3E4;
$c-light-text: #999;
$c-error: #98043c;

@import "base/reset";
@import "loading-icon";

@mixin media-small{
  @media ( max-width: $px*90){
    @content;
  }
}

html{
  font-family: "Open Sans", "Roboto", "Helvetica Neue",sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color:  #333;
  background-color: $c-main;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  flex: 1 1 auto;
  min-width: 300px;
  display: flex;
  align-items: center;
  background-color: lighten($c-main,10);
  @include media-small{
    min-height: $px*30;
    flex: 0 1 auto;
  }
  transition: background-color 0.3s;
  &.is-notLoaded{
    background-color: darken($c-dark,10);
  }
}

.app{
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s;
  &.is-loaded{
    opacity: 1;
  }
}

.app-header{
  background-color: $c-dark;
  color: $c-accent;
  &__title{
    padding: $px*2 0;
    text-transform: uppercase;
    text-align: center;
  }
}

.app-content{
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  @include media-small{
    flex-direction: column;
  }
}

.app-sidebar{
  background-color: #4d353e;
  color: #fff;
  width: 20rem;
  @include media-small{
    width: auto;
    order: 1;
    flex: 1 0 auto;

  }
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__ul{
    overflow: auto;

  }

  &__li{
    padding: $px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    cursor: pointer;
    &:hover{
      color: $c-accent;
    }


    &.is-active{
      background-color: $c-shade;
      color: $c-accent;
    }

  }

  &__filter{
    padding: $px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    display: flex;

    &__input{
      flex: 1 1 auto;
      border: none;
      outline: none;
      padding: $px;
      border-radius: 2px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
      font-size: inherit;
    }

  }

}

.location__container{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  @include media-small{
    flex: 0 0 auto;
  }
}

.location__before-map-loads{
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
}

.foursquare-content{
  &--is-loaded{
    background-color: #fff;
  }
  &--is-error p{
    background-color: $c-error;
    color: #fff;
    font-size: 1.3rem;
    padding: $px $px*2;
  }
  &__header{
    padding: $px $px*2;
    display: flex;
    align-items: center;
    background-color: $c-accent;

    &__text{
      flex: 1 1 auto;
    }

  }
  &__title{
    font-size: 1.2rem;
    color: $c-dark;
  }
  &__description{
    color:#fff;
  }
  &__thumb{
    border-radius: 50%;
  }
  &__hours{
    padding: $px 0 0;
    li{
      padding: 0 $px*2;
      display: flex;
      -webkit-align-items: center;
              align-items: center;
          border-bottom: 1px solid #ddd;
    }
    h4{
      font-size: 0.8em;
      color: $c-light-text;
      line-height: 1.2;
      margin-right: 0.5em;
    }
  }
  &__attribute{
    padding: $px $px*2;
    &__link{
      color: $c-link;
    }
  }
}

.google-maps--is-error{
  color: #fff;
  text-align: center;
  font-size: 1rem;
  padding: $px*2;
}